# cursor code history
.history/

# cursor chat context
.specstory/

# 7z tools folders
DHC_Backend/models/tools/7z/darwin/
DHC_Backend/models/tools/7z/linux/
DHC_Backend/models/tools/7z/windows/

# testModFIle
DHC_Backend/resources/cache
DHC_Backend/test/testModFile
DHC_Backend/test/simEnv/windows_finder
